body {
  background-color: #590000 ;
  color: white;
  font-size: 20px;
}


.MainDiv {
    background-image: url("www//img//leather1.jpg");
  	background-size: 100% 100%;     
    background-repeat: no-repeat;
	background-attachment:fixed; 
	position:  absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.container-custom {
    #background-color: #FFFFED;

}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}
.navbar-custom {
    background-image: url("..//img//silver.jpg");
	color: #FFFFCC;

}

.btn {
    background-image: url("..//img//gold.png");
    border-color: #400000;
    border-width: 2px;
    color: black;
   font-size: 20px;
}

